<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand title font-weight-bold" href="#">Đoàn Chúa Thăng Thiên</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>


<div className="dark-overlay landing-inner text-light">
    <div className="container">
      <div className="row">
        <!--Carousel Wrapper-->
  <mdb-carousel [isControls]="true" [animation]="'slide'">
      <!--First slide-->
      <mdb-carousel-item>
          <img class="d-block w-100 photo" src="https://mdbootstrap.com/img/Photos/Slides/img%20(130).jpg" alt="First slide">
          <div class="carousel-caption">
              <div class="animated fadeInDown">
                <h3 class="h3-responsive">Light mask</h3>
                <p>First text</p>
              </div>
            </div>
      </mdb-carousel-item>
      <!--/First slide-->
      <!--Second slide-->
      <mdb-carousel-item>
          <img class="d-block w-100 photo" src="https://mdbootstrap.com/img/Photos/Slides/img%20(129).jpg" alt="Second slide">
          <div class="carousel-caption">
              <div class="animated fadeInDown">
                <h3 class="h3-responsive">Light mask</h3>
                <p>First text</p>
              </div>
            </div>
      </mdb-carousel-item>
      <!--/Second slide-->
      <!--Third slide-->
      <mdb-carousel-item>
          <img class="d-block w-100 photo" src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg" alt="Third slide">
          <div class="carousel-caption">
              <div class="animated fadeInDown">
                <h3 class="h3-responsive">Light mask</h3>
                <p>First text</p>
              </div>
            </div>
      </mdb-carousel-item>
      <!--/Third slide-->
    </mdb-carousel>
    <!--/.Carousel Wrapper-->




