<div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
      <br>
      <ul class="list-group border-0">
          <li class="list-group-item border-0"><i class="fas fa-map-marker-alt"></i> 3900 Meramec St, St. Louis, MO 63116</li>
          <li class="list-group-item border-0">Dapibus ac facilisis in</li>
          <li class="list-group-item border-0">Morbi leo risus</li>
          <li class="list-group-item border-0">Porta ac consectetur ac</li>
          <li class="list-group-item border-0">Vestibulum at eros</li>
        </ul>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="featurette-image img-fluid mx-auto" [src]="fullImagePath" alt="Generic placeholder image">
    </div>
  </div>
